<div class="wrapper">
  <h1>Competitions</h1>

  <div class="projekt">
    <h2>Summer startup camp</h2>

    <a target="_black" href="https://ntpark.rs">Science-technology park</a>

    <p>
      Defining a problem to tackle, analyzing the target group, formulating an
      app solution. Won first prize.
    </p>
  </div>

  <div class="projekt">
    <h2>EDIT2018</h2>
    <a target="_black" href="https://www.comtrade.com">Comtrade</a>
    <p>
      Blockchain basics, creating smart contracts on the TestNet, real world
      cryptocurrency app using AGILE tools and methodologies
    </p>
  </div>

  <div class="projekt">
    <h2>Female hackaton</h2>
    <a target="_black" href="https://namics.com/en">Namics</a>
    <p>
      Defining a problem to tackle and formulating an applicable solution.
    </p>
  </div>
</div>
