<div class="wrapper">
  <h1>Projects</h1>

  <div class="projekt">
    <h2>odmah.rs Website (Frontend Internship)</h2>
    <h3>
      July 2019 - November 2019,
      <a target="_black" href="https://www.linkedin.com/company/comparativ/"
        >Comparativ</a
      >
    </h3>
    <p>
      Working on the web application ogmah.rs for scheduling dentist
      appointments.
    </p>

    <p>Tech stack: Vue.js, Bootstrap, Javascript, html, css</p>
  </div>

  <div class="projekt">
    <h2>Webcam Motion Detector</h2>
    <p>
      The application detects moving in front of a web camera and records the
      time of first detection. And interactive graph shows times the objects
      enter the frame
    </p>

    <p>Tech stack: Python</p>
  </div>

  <div class="projekt">
    <h2>X509 Certificate</h2>
    <p>
      Created an application for generating and exporting public/private keys,
      and exporting, importing and signing x509 certificates.
    </p>

    <p>
      Tech stack: Java
    </p>
  </div>
</div>
