.wrapper {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: monospace;
  padding-right: 20%;
  padding-left: 10%;
  padding-top: 10%;
}

.projekt {
  margin-top: 5%;
  background-color: rgba(17, 11, 32, 0.8);
  padding: 5%;
}

h1 {
  background-color: rgba(20, 13, 37, 0.8);
  margin: 0;
  padding: 2%;
  display: block;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: large;
}
h2 {
  margin: 1% 0;
  font-size: x-large;
}
