<div class="wrapper">
  <img class="background" src="assets/background5.jpg" alt="phone" />

  <div class="navigation">
    <img
      class="profile-pic"
      src="assets/profile-pic.png"
      alt="profile picture"
    />
    <h1 class="name">Milica Bekčić</h1>

    <div class="proba">
      <a href="tel: +38169456159">069/456-1599</a>
      <a href="mailto:mbekcic42@gmail.com">mbekcic42@gmail.com</a>
      <button>Belgrade</button>
    </div>
    <div class="proba">
      <button routerLink="/projects">Projects</button>
      <button routerLink="/education">Education</button>
      <button routerLink="/competitions">Competitions</button>
      <a target="_blank" href="https://www.instagram.com/ljubimmica/"
        >Crafts & Arts</a
      >
      <a
        target="_blank"
        href="assets/MBekcic cv.pdf"
        download="assets/MBekcic cv.pdf"
      >
        Download CV
      </a>
    </div>
  </div>

  <hr />

  <div class="components">
    <router-outlet> </router-outlet>
  </div>
</div>
